<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Fundos.io — be part of the solution to funding open source software projects</title>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Rajdhani" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="title-link">
                    <a href="/" class="title">Fundos.io</a>
                </div>
                <div class="other-links">
                    <a href="/company">The company</a>
                    <a href="/who">Who is building this?</a>
                </div>
            </nav>
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </header>
        <main>
